*.iml
.gradle
/local.properties
/.idea
/.
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/src/main/java/assignment/hillfort/activities/EditLocationView.kt
/app/src/main/AndroidManifest.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/release/res/values/google_maps_api.xml
app/src/debug/res/values/google_maps_api.xml